.git
.gitignore
.yarn/cache
.yarn/install-state.gz
node_modules
packages/*/node_modules
*.local.yaml
*.md
!examples/**
.devcontainer
.github
playwright.config.ts
.vscode
.claude
*.log
coverage
.DS_Store
dist
dist-types
