.git
.gitignore
.yarn/cache
.yarn/install-state.gz
node_modules
packages/*/src
packages/*/node_modules
plugins
*.local.yaml
*.md
!examples/**
.devcontainer
.github
dist-types
playwright.config.ts
.vscode
.claude
*.log
coverage
.DS_Store
